torch==2.1.0+cpu
torchaudio==2.1.0+cpu
-audiocraft
einops
flashy>=0.0.1
hydra-core>=1.1
hydra_colorlog
julius
numpy
sentencepiece
spacy==3.5.2
huggingface_hub
tqdm
transformers>=4.31.0
xformers
streamlit
